<form class="flexcol">
  <div class="attribute-controls">
    <button type="button" name="roll">
      <i class="fas fa-dice"></i> Roll Attributes
    </button>
    <button type="button" name="array">
      <i class="fas fa-list-ol"></i> Use Array ({{array}})
    </button>
  </div>

  <div class="primary-attributes">
    {{#each attributes}}
    <div class="form-group">
      <label>{{this.name}} ({{@key}})</label>
      <input type="number" name="{{@key}}" value="{{lookup ../values @key}}" min="0" max="100">
      <p class="hint">{{this.desc}}</p>
    </div>
    {{/each}}
  </div>

  <div class="secondary-attributes">
    <h3>Secondary Attributes</h3>
    <div class="form-group">
      <label>Health (HLT)</label>
      <span>{{secondary.hlt}}</span>
    </div>
    <div class="form-group">
      <label>Wounds (WDS)</label>
      <span>{{secondary.wds}}</span>
    </div>
    <div class="form-group">
      <label>Grit (GRT)</label>
      <span>{{secondary.grt}}</span>
    </div>
    <div class="form-group">
      <label>Poise (POI)</label>
      <span>{{secondary.poi}}</span>
    </div>
  </div>

  <div class="form-group buttons">
    <button type="submit" name="submit">
      <i class="fas fa-arrow-right"></i> Continue to Path
    </button>
  </div>
</form>
